
{%block content%}
    <div class="main_container">
        {% for post in posts %}
            <div class="post_container post_id_{{post.id}}">
                <div class="post_title">title:{{post.title}}</div>
                <div class="post_content">content:{{post.content}}</div>
                <br>
                <button class="post_like" onclick="onClickLike({{post.id}})">❤ {{post.like}}</button>
                <br><br>

                <div class="comment" style="display:flex;">
                    <div class="post_comment">🐬{{post.comment}}</div>
                    <button class="post_content_delete" onclick="onClickCommentDelete({{post.id}})">✖</button>
                </div>
                {% comment %} <table>
                    <tbody class="post_comment">
                        <tr>
                            <td>🐬{{post.comment}}</td>
                        </tr>
                    </tbody> 
                </table> {% endcomment %}
                <br>
                <textarea class="post_comment_insert"></textarea>
                <button class="submit" onclick="onClickCommentSave({{post.id}})">🚀</button>
                <br>
            
            </div>
        {% endfor %}
    </div>
{% endblock %}
        

<script>
    const strip = (string) => {
        return string.replace(/^\s+|\s+$/g, "");
    };

    //좋아요 기능
    const requestLike=new XMLHttpRequest();

    const onClickLike=(id)=>{
        const url="/like_ajax";
        requestLike.open("POST",url,true)
        requestLike.setRequestHeader(
            'Content-Type',
            'applicaton/x-www-form-urlencoded'
        );
        requestLike.send(JSON.stringify({id:id}));
    };

    requestLike.onreadystatechange=()=>{
        if(requestLike.readyState===XMLHttpRequest.DONE){
            if(requestLike.status<400){
                const {id}=JSON.parse(requestLike.response);
                const element=document.querySelector(`.post_id_${id} .post_like`);
                const originHTML=element.innerHTML;
                
                const [logo, num]=originHTML.split(" ");
                const count=Number(num)+1;
                
                element.innerHTML=`${logo} ${count}`;
            }
        }
      };

    // 댓글 추가
    const requestCommentCreate=new XMLHttpRequest();
    const onClickCommentSave=(id)=>{
        const url='/comment_create';
        var comment=document.querySelector(`.post_id_${id} .post_comment_insert`).value;
        requestCommentCreate.open('POST',url,true)
        requestCommentCreate.setRequestHeader(
            'Content-Type',
            'applicaton/x-www-form-urlencoded'
        );
        requestCommentCreate.send(JSON.stringify({id:id,comment:comment}));
    };

    requestCommentCreate.onreadystatechange=()=>{
        if(requestLike.readyState===XMLHttpRequest.DONE){
            if(requestCommentCreate.status<400){
                const {id,comment}=JSON.parse(requestCommentCreate.response);
                let element=document.querySelector(`.post_id_${id} .post_comment`);
                
                element.innerHTML="👻 "+`${comment}`;
                
                /*let tr=document.createElement("tr");
                let newComment=document.createElement('td');
                newComment.innerHTML=`${comment}`;
                tr.append(newComment);
                console.log(newComment);
                comment_list.append(newComment);*/
            }
        }
    };

    //댓글 삭제
    const requestCommentDelete=new XMLHttpRequest();
    const onClickCommentDelete=(id)=>{
        const url='/comment_delete';
        requestCommentDelete.open('POST',url,true)
        requestCommentDelete.setRequestHeader(
            'Content-Type',
            'application/x-www-form-urlencded'
        );
        requestCommentDelete.send(JSON.stringify({id:id}));
        
    };

    requestCommentDelete.onreadystatechange=()=>{
        if(requestCommentDelete.readyState===XMLHttpRequest.DONE){
            if(requestCommentDelete.status<400){
                const {id}=JSON.parse(requestCommentDelete.response);
                let element=document.querySelector(`.post_id_${id} .post_comment`);
                element.innerHTML=" ";

            }
        }
    };




</script>
        


